body{
 margin: 0;
}



.banner img{
    position: relative;
    left: 50%;
    max-width: 50%;
}

h1{
    text-align: center;
    color: yellow;
    background-color: #0f766e;
    margin: 0;
    padding: 1rem;
}

.first{
    position: absolute;
    padding: 0px 0px 0px 15px;
    top: 15%;
}

textarea
{
    position: absolute;
    display: block;
    top: 20%;
    width: 50%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}

#btn-translate{
    position: absolute;
    top: 40%;
    left: 5%;
}

.outtxt{
    top: 48%;
    padding: 0px 0px 0px 15px;
    position: absolute;
}

#output
{
    position: absolute;
    top: 51%;

    border: 1px solid black;
    height: 10vh;
    width: 40%;
    margin: 1rem;
    padding: 1rem;
}

footer{
    text-align: center;
    
    margin: 0px;
    position: relative;
    
}

footer h2{
    
    background-color: #0f766e;
    color: yellow;
    padding: 10px;
    margin: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}



/* responsive design */
@media screen and (max-width:1240px){
    .banner img{
        position: static;
        max-width: 100%;
    }

    .first{
        position: static;
        padding: 0px 0px 0px 15px;
        top: 15%;
    }

    textarea{
        position: static;
        display: block;
        top: 15%;
        width: 80%;
        height: 10vh;
        margin: 1rem;
        padding: 1rem;
    }

    #btn-translate{
        position: relative;
        left: 15px;
        
    }
    
    .outtxt{
        top: 48%;
        padding: 0px 0px 0px 15px;
        position: static;
    }

    #output{
        position: static;
        width: 80%;
    }    
}